.articleContainer {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    background-color: transparent;
    padding: 10px;
    height: calc(100vh - 150px);
}

.articleListMain {
    display: flex;
    flex-direction: column;
    height: 55%;
    width: 600px;
    justify-content: space-evenly;
    background-color: transparent;
    border-radius: 15px;
}

.loader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}



articlelistContainer {
    width: 800px;
    height: 600px;
    justify-items: center;
    border-radius: 20px;
    margin: 8px;
    padding: 8px;
    overflow-y: auto;

}

.articleList {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    overflow-y: auto;
}

.articlelist-content {
    margin: 10px;
    width: 550px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
}

.eachArticle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 550px;
}

.articleImage {
    width: 250px;
    height: 150px;
}

.imageContainer {
    max-width: 230px;
    max-height: 135px;
    padding: 5px;
}

.articleDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 150px;
}

.articlediv {
    color: #333;
    text-decoration: none;
    text-align: left;
    padding: 2px;
}

.articleLabel {
    margin: 2px;
    font-size: 12px;
    color: #333;
    text-decoration: none;
    text-align: left;
    padding: 2px;
}

.article-footer {
    font-size: x-small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
}

.li-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 4px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

/* display article css */

.article_main {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 1000px;
}

.article_title {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 800px;
}



.article_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 800px;

}

.articlename-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
}


.imageContent {
    height: auto;
    width: auto;
    background-color: white;
}

.image-wrapper {
    width: 1000px;
    height: 550px;
    margin: 10px;
    background-color: transparent;
}

.article-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 980px;
    height: 600px;
    padding: 10px;
    background-color: white;
}

.articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    padding: 10px;
}

.para {
    margin: 0px 0px 20px;
    font-size: 15px;
    line-height: 1.3;
    text-align: left;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.category {
    margin: 20px;
}

.categoryLabel {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: aqua;
}

.suggestion-wrapper {
    width: 250px;
    border: 1px solid black;
}

.vote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
}

.votesbtn {
    margin: 10px;
}

.votes_sentiment {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 650px;
    justify-content: space-around;
}

.votes_sentiment p {
    margin: 0px;
}

.votes_sentiment button {
    margin: 0px;
}